/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set images to 100% */
img {
  max-width: 100%;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-size: 62.5%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2rem;
  font-size: 1.2rem;
  background-color: #f1f1f1;
}
@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
  }
}
.navbar nav a {
  text-decoration: none;
  color: #20639b;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .navbar nav a {
    padding: 0.5rem 0;
  }
}
.navbar nav a:hover {
  color: #173f5f;
}
@media (max-width: 700px) {
  .navbar nav {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
  }
}
.navbar .links-left {
  flex-grow: 1;
  flex-shrink: 0;
}
@media (max-width: 700px) {
  .navbar .links-left {
    order: 1;
  }
}
.navbar .links-left a {
  margin: 0.5rem 0;
}
.navbar .logo {
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.8rem;
}
.navbar .links-right {
  flex-grow: 0;
  flex-shrink: 0;
}
.navbar .links-right a {
  margin: 0.5rem 0;
}
@media (max-width: 700px) {
  .navbar .links-right a {
    display: flex;
    justify-content: center;
  }
}
.header-container {
  display: flex;
  margin: 2rem 1rem;
  padding: 1rem;
  width: 100%;
  line-height: 1.2;
}
@media (max-width: 700px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }
}
.header-container .header-title {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container .header-title img {
  border-radius: 200rem;
  width: 50%;
}
.header-container .header-title h2 {
  font-size: 1.5rem;
  padding-top: 1rem;
}
.header-container .header-title h3 {
  font-size: 1.2rem;
}
.header-container .header-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  width: 50%;
}
@media (max-width: 700px) {
  .header-container .header-intro {
    width: 100%;
    align-items: center;
  }
}
.header-container .header-intro h1 {
  margin: 2rem 0;
  font-size: 1.8rem;
}
.header-container .header-intro p {
  font-size: 1.2rem;
}
.skills-section {
  display: flex;
  width: 100%;
  margin: 2rem 1rem;
  padding: 1rem;
  font-size: 1.2rem;
}
@media (max-width: 700px) {
  .skills-section {
    flex-direction: column;
    align-items: center;
  }
}
.skills-section .skill-list {
  width: 50%;
  padding: 0 1rem;
}
@media (max-width: 700px) {
  .skills-section .skill-list {
    width: 100%;
  }
}
.skills-section .skill-list h1 {
  font-size: 1.8rem;
  border-bottom: 3px solid #20639b;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.skills-section .skill-list li {
  padding: 1rem 0;
}
.skills-section .fav-quote {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  line-height: 1.2;
}
@media (max-width: 700px) {
  .skills-section .fav-quote {
    width: 100%;
    margin: 2rem 0;
  }
}
.skills-section .fav-quote h1 {
  font-size: 1.8rem;
  border-bottom: 3px solid #20639b;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  align-self: stretch;
}
.work-history {
  margin: 1rem 2rem;
  padding: 1rem;
  font-size: 1.5rem;
}
.work-history h1 {
  font-size: 1.8rem;
  border-bottom: 3px solid #20639b;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.work-history .work {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  line-height: 1.2;
  padding: 1rem;
}
.contact-section {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  margin: 1rem 2rem;
  padding: 1rem;
  width: 100%;
}
@media (max-width: 700px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
.contact-section .contact-title {
  width: 50%;
  padding: 1rem;
}
@media (max-width: 700px) {
  .contact-section .contact-title {
    width: 100%;
  }
}
.contact-section .contact-title h1 {
  font-size: 1.8rem;
  border-bottom: 3px solid #20639b;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.contact-section .contact-title p {
  width: 90%;
  margin: 2rem 0;
  text-align: left;
}
@media (max-width: 700px) {
  .contact-section .contact-title p {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.contact-section .contact-title img {
  border-radius: 200rem;
  width: 8rem;
  margin-left: 8rem;
}
@media (max-width: 700px) {
  .contact-section .social-links {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
.contact-section .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto;
  padding: 1rem;
  width: 50%;
}
@media (max-width: 700px) {
  .contact-section .form {
    width: 100%;
  }
}
.contact-section .form input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #d3d3d3;
  margin-bottom: 2rem;
  font-size: 1rem;
}
.contact-section .form select {
  width: 100%;
  padding: 0.75rem;
  height: 3rem;
  border: 2px solid #d3d3d3;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #a0a0a0;
}
.contact-section .form textarea {
  width: 100%;
  height: 15rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #d3d3d3;
  margin-bottom: 2rem;
  font-size: 1rem;
}
.contact-section .form button {
  background: #20639b;
  color: #f1f1f1;
  border-style: none;
  padding: 1rem 3rem;
  border-radius: 3rem;
  font-size: 1.1rem;
}
.contact-section .form button:hover {
  background: #173f5f;
}
@media (max-width: 750px) {
  .contact-section .form input,
  .contact-section .form select,
  .contact-section .form textarea {
    width: 100%;
  }
}
.social-links a {
  text-decoration: none;
  color: #20639b;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.social-links a :hover {
  color: #173f5f;
}
footer {
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  background: #f1f1f1;
}
